* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
}

.produtos, .carrinho {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.titulo {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.containerProdutos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.containerIndividualProduto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 26%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.containerIndividualProduto:hover {
    transform: scale(1.02);
}

.imagem {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.textoTitulo {
    font-weight: bold;
    margin: 10px 0;
}

.preco {
    color: #007BFF;
    font-size: 18px;
}

.botaoAdicionar, .botaoRemover{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaoAdicionar:hover, .botaoRemover {
    background-color: #218838;
}

.botaoRemover {
    background-color: #dc3545;
}

.botaoRemover:hover {
    background-color: #c82333;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #218838;
  }